---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.title == 'Publications' %}
    <div class='parent'>
  <div class='child'>child 1</div>
  <div class='child'>child 2</div>
</div>
    <div class="float-container">
    <h1 class="post-title">{{ page.title }}</h1>
    <a href="https://scholar.google.com/citations?user=m9Yw7BoAAAAJ" title="Google Scholar" rel="external nofollow noopener" target="_blank"><i class="ai ai-google-scholar"></i></a>
    </div>
    {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
